#formm{
	margin-top:-14%
}
/* #container, #container2, #container3{ */
/* width:70%; */
/* } */
.highcharts-credits{
display:none;
}
#btnHo{
	margin: 0 0 2% 90%;
}	
.raphael-group-124-creditgroup, .raphael-group-30-toolbar-group10{
display:none;
}

/* Center the loader */
#loader {
   position: absolute; 
   left: 50%; 
   top: 50%; 
   z-index: 1; 
   width: 150px; 
   height: 150px; 
   margin: -75px 0 0 -75px; 
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

#trafficNet{
	float:right;
	margin-top: 4%;
    margin-right: 7%;	
}

#page-wrapper8,#page-wrapper9,#page-wrapper0,#page-wrapper88,#page-wrapper99 {
	text-align:center;
    position: inherit;
    margin: 0 0 0 250px;
    padding: 65px 30px;
     box-shadow: 5px 5px 5px lightgray;
     border-radius: 10px; 
    padding: 0 15px;
    background-color: white;
    margin-left: 10%;
    width: 79%;
    height: 360px;
    margin-bottom: 1.5%;
}
#page-wrapper00{
		text-align:center;
    position: inherit;
    margin: 0 0 0 250px;
    padding: 65px 30px;
     box-shadow: 5px 5px 5px lightgray;
     border-radius: 10px; 
    background-color: white;
    width: 20%;
    height: 70px;
    margin-bottom: 1.5%;
    padding-top: 0.9%;
}
.highcharts-root {
	margin-top:1%;
}
