<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN"
    "http://www.ibatis.com/dtd/sql-map-2.dtd">
 <sqlMap namespace="server">
 	<insert id="insertServerVO" parameterClass="server">
 		insert into server(server_host,server_os_version,server_ip,server_id,server_code,saveyn, server_os_name, server_os_support)
 			values(#server_host#, #server_os_version#, #server_ip#, #server_id#, #server_code#, #saveyn#, #server_os_name#, #server_os_support#)
 	</insert>
 	
 	<select id="selectServerIP" parameterClass="str" resultClass="str">
 		select server_ip from server where server_ip=#server_ip#
 	</select>
 	
 	<update id="updateServerVO" parameterClass="server">
 		update server 
   		set server_host=#server_host#, server_os_version=#server_os_version#, server_ip=#server_ip#, server_id=#server_id#, server_code=#server_code#, saveyn=#saveyn#, server_os_name=#server_os_name#, server_os_support=#server_os_support#
   		where server_ip=#server_ip#
 	</update>
 
 	<select id="selectServerVO" parameterClass="str" resultClass="server">
 		select * from server where server_ip=#server_ip#
 	</select>
 	
 	<select id="selectServerList" parameterClass="str" resultClass="server">
 		select * from server where server_id=#server_id#
 	</select>
 	
 	<select id="selectSeverIpList" parameterClass="str" resultClass="str">
 		select server_ip from server where server_id = #server_id#
 	</select>
 	
 	<select id="selectServerInfo" parameterClass="str" resultClass="server">
 		select server_host
          , server_os_name
          , server_ip
          , saveyn
          from server
          where server_ip=#server_ip#
 	</select>
 	
 	<select id="selectServercode_Info" parameterClass="str" resultClass="str">
 		select 
 		  server_code
          from server
          where server_ip=#server_ip#
 	</select>
 	
 
 	<update id="updateIpSaveyn" parameterClass="str" >
 		update server 
   		set saveyn=#saveyn#
   		where server_ip=#server_ip#
 	</update>
 	
 	<delete id="serverRemove" parameterClass="str">
 		delete from server where server_ip=#server_ip#
 	</delete>
 	
 	<select id="serverCode" parameterClass="str" resultClass="server">
 		select * from server where server_ip=#server_ip#
 	</select>
 
 
 </sqlMap>   
 